ossrhUsername=
ossrhPassword=
signing.keyId=
signing.password=
signing.secretKeyRingFile=
sonatypeStagingProfileId=
io.getstream.chat.apiKey=
io.getstream.chat.apiSecret=
io.getstream.chat.url=https://chat.stream-io-api.com
io.getstream.chat.timeout=10000
